@if (settingService.openSetting()) {
    <div class="animate-fade-in">
        <!-- Modal -->
        <div
            class="w-150 max-h-[80vh] bg-white dark:bg-zinc-900 rounded-2xl shadow-2xl flex flex-col overflow-hidden"
        >
            <!-- HEADER (fixed) -->
            <div
                class="flex items-center justify-between px-6 py-4 border-b border-zinc-200 dark:border-zinc-700"
            >
                <h2 class="text-xl font-semibold text-zinc-800 dark:text-zinc-100">⚙ Settings</h2>

                <button
                    (click)="closeSettings()"
                    class="px-3 py-1 rounded-lg bg-zinc-200 hover:bg-zinc-300 dark:bg-zinc-700 dark:hover:bg-zinc-600 transition"
                >
                    ✕
                </button>
            </div>

            <!-- SCROLLABLE BODY -->
            <div class="overflow-y-auto p-6 space-y-6">
                <!-- DEFAULT PROFILE -->
                <app-select
                    label="Default Profile"
                    [formField]="settingService.settingsForm.defaultProfileId"
                    [options]="settingService.settingsForm.profiles().value()"
                    optionLabel="name"
                    optionValue="id"
                    [value]="defaultProfile()?.name ?? ''"
                ></app-select>

                <!-- FONT FAMILY -->
                <app-select
                    label="Font Family"
                    [formField]="settingService.settingsForm.terminalSettings.fontFamily"
                    [options]="fontFamilies"
                    optionLabel="label"
                    optionValue="value"
                    value="zsh"
                ></app-select>

                <!-- FONT SIZE -->

                <app-number-input
                    label="Font Size"
                    [formField]="settingService.settingsForm.terminalSettings.fontSize"
                    [value]="settingService.settingsForm.terminalSettings().value().fontSize"
                ></app-number-input>

                <!-- LINE HEIGHT -->

                <app-number-input
                    label="Line Height"
                    [formField]="settingService.settingsForm.terminalSettings.lineHeight"
                    [value]="settingService.settingsForm.terminalSettings().value().lineHeight"
                ></app-number-input>

                <!-- CURSOR STYLE -->
                <section class="space-y-2">
                    <h3 class="section-title">Cursor Style</h3>
                    <div class="grid grid-cols-1 gap-2">
                        <app-radio
                            name="cursorStyle"
                            [field]="settingService.settingsForm.terminalSettings.cursorStyle"
                            [options]="cursorStyles"
                        ></app-radio>
                    </div>
                </section>

                <!-- CURSOR BLINK -->
                <section class="flex items-center justify-between">
                    <h3 class="section-title">Cursor Blink</h3>
                    <input
                        type="checkbox"
                        class="toggle"
                        [checked]="settingService.settings().terminalSettings.cursorBlink"
                    />
                </section>

                <!-- BACKGROUND STYLE -->
                <!-- <section class="space-y-2">
                    <h3 class="section-title">Background Effect</h3>
                    <div class="grid grid-cols-2 gap-2">
                        @for (bg of backgrounds; track bg) {
                            <button
                               
                                class="option-btn"
                                [class.active]="settings().terminalSettings.background === bg"
                            >
                                {{ bg }}
                            </button>
                        }
                    </div>
                </section> -->

                <!-- THEME COLORS -->

                <app-select
                    label="Theme Colors"
                    [formField]="settingService.settingsForm.appThemeId"
                    [options]="appThemes"
                    optionLabel="label"
                    optionValue="value"
                    [value]="settingService.settings().appThemeId"
                ></app-select>

                <!-- <section class="space-y-4">
                    <h3 class="section-title">Theme Colors</h3>

                    <div class="grid grid-cols-2 gap-4">
                        @for (
                            theme of settingService.settings().appThemes | keyvalue;
                            track $index
                        ) {
                            <div class="flex items-center justify-between gap-3">
                                <label class="text-sm text-zinc-600 dark:text-zinc-400 capitalize">
                                    {{ theme.key }}
                                </label>
                                <input
                                    type="color"
                                    class="w-10 h-8 rounded border border-zinc-300 dark:border-zinc-600 bg-transparent"
                                />
                            </div>
                        }
                    </div>
                </section> -->
            </div>
        </div>
    </div>
}
