<div class="settings-overlay">
    <div class="settings-modal">
        <!-- HEADER -->
        <div class="settings-header">
            <h2 class="settings-title">⚙ Settings</h2>
            <app-button (buttonClick)="closeSettings()">✕</app-button>
        </div>

        <!-- BODY -->
        <div class="settings-body">
            <div class="settings-grid">
                <app-select
                    label="Default Profile"
                    [formField]="settingService.settingsForm.defaultProfileId"
                    [options]="profileOptions"
                    optionLabel="label"
                    optionValue="value"
                    [value]="defaultProfile()?.name ?? ''"
                ></app-select>

                <app-select
                    label="Theme Colors"
                    [formField]="settingService.settingsForm.appThemeId"
                    [options]="appThemeOptions"
                    optionLabel="label"
                    optionValue="value"
                    [value]="settingService.settings().appThemeId"
                ></app-select>

                <app-select
                    label="Font Family"
                    [formField]="settingService.settingsForm.terminalSettings.fontFamily"
                    [options]="fontFamilieOptions"
                    optionLabel="label"
                    optionValue="value"
                    [value]="settingService.settingsForm.terminalSettings().value().fontFamily"
                ></app-select>

                <app-number-input
                    label="Font Size"
                    [formField]="settingService.settingsForm.terminalSettings.fontSize"
                    [value]="settingService.settingsForm.terminalSettings().value().fontSize"
                ></app-number-input>

                <app-number-input
                    label="Font Weight"
                    [formField]="settingService.settingsForm.terminalSettings.fontWeight"
                    [value]="settingService.settingsForm.terminalSettings().value().fontWeight"
                    [step]="100"
                ></app-number-input>

                <app-number-input
                    label="Letter Spacing"
                    [formField]="settingService.settingsForm.terminalSettings.letterSpacing"
                    [value]="settingService.settingsForm.terminalSettings().value().letterSpacing"
                    [step]="1"
                ></app-number-input>

                <app-number-input
                    label="Cursor Width"
                    [formField]="settingService.settingsForm.terminalSettings.cursorWidth"
                    [value]="settingService.settingsForm.terminalSettings().value().cursorWidth"
                ></app-number-input>

                <app-radio
                    name="cursorStyle"
                    [field]="settingService.settingsForm.terminalSettings.cursorStyle"
                    [options]="cursorStyleOptions"
                ></app-radio>
            </div>
        </div>
    </div>
</div>
