<aside class="sidebar">
    <ul class="sidebar-list">
        @for (tab of tabManagerService.tabs(); track $index) {
            <li>
                @if (tab.terminals.length === 1) {
                    <div
                        class="sidebar-item"
                        [class.active]="
                            tabManagerService.activatedTerminalId() === tab.terminals[0].id
                        "
                        (click)="setActivatedTerminalModel(tab, tab.terminals[0])"
                    >
                        <div class="flex items-center justify-start gap-1">
                            <app-icon [name]="'cmd'"  fill="none" size="20"></app-icon>
                            <span class="sidebar-title">
                                {{ tab.terminals[0].title }}
                            </span>
                        </div>

                        <div class="sidebar-actions">
                            <button
                                (click)="removeTerminal($event, tab, tab.terminals[0])"
                                class="sidebar-btn"
                            >
                                ✕
                            </button>

                            <button
                                (click)="splitTerminal($event, tab, tab.terminals[0])"
                                class="sidebar-btn"
                            >
                                ⊕
                            </button>
                        </div>
                    </div>
                }

                @if (tab.terminals.length > 1) {
                    <ul class="sidebar-sublist">
                        @for (terminal of tab.terminals; track $index) {
                            <li
                                class="tree-item sidebar-item nested"
                                [class.active]="
                                    tabManagerService.activatedTerminalId() === terminal.id
                                "
                                (click)="setActivatedTerminalModel(tab, terminal)"
                            >
                                <span class="sidebar-title">
                                    {{ terminal.title }}
                                </span>

                                <div class="sidebar-actions">
                                    <button
                                        (click)="removeTerminal($event, tab, terminal)"
                                        class="sidebar-btn"
                                    >
                                        ✕
                                    </button>

                                    <button
                                        (click)="splitTerminal($event, tab, terminal)"
                                        class="sidebar-btn"
                                    >
                                        ⊕
                                    </button>
                                </div>
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
</aside>
