<aside class="w-52 bg-gray-800 text-white overflow-auto h-full">
    <ul class="">
        @for (tab of tabManagerService.tabs(); track $index) {
            <li class="">
                <!-- SINGLE TERMINAL -->
                @if (tab.terminals.length === 1) {
                    <div
                        class="flex items-center justify-between text-[0.8rem] ps-2 py-1 pe-1 rounded-md cursor-pointer hover:bg-gray-700"
                        [ngClass]="{
                            'bg-gray-600':
                                tabManagerService.activatedTerminalId() === tab.terminals[0].id,
                        }"
                        (click)="setActivatedTerminalModel(tab, tab.terminals[0])"
                    >
                        <span class="truncate">
                            {{ tab.terminals[0].title }}
                        </span>

                        <div class="flex items-center transition">
                            <button
                                (click)="removeTerminal($event, tab, tab.terminals[0])"
                                class="w-5 h-5 flex items-center justify-center rounded hover:bg-gray-800 transition"
                            >
                                ✕
                            </button>

                            <button
                                (click)="splitTerminal($event, tab, tab.terminals[0])"
                                class="w-5 h-5 flex items-center justify-center rounded hover:bg-gray-800 transition"
                            >
                                ⊕
                            </button>
                        </div>
                    </div>
                }

                <!-- MULTIPLE TERMINALS -->
                @if (tab.terminals.length > 1) {
                    <ul class="">
                        @for (terminal of tab.terminals; track $index) {
                            <li
                                class="tree-item flex items-center justify-between text-[0.8rem] ps-5 pe-1 py-1 rounded-md cursor-pointer hover:bg-gray-700 transition-colors"
                                [ngClass]="{
                                    'bg-gray-600':
                                        tabManagerService.activatedTerminalId() === terminal.id,
                                }"
                                (click)="setActivatedTerminalModel(tab, terminal)"
                            >
                                <span class="truncate">
                                    {{ terminal.title }}
                                </span>

                                <div class="flex items-center transition">
                                    <button
                                        (click)="removeTerminal($event, tab, terminal)"
                                        class="w-5 h-5 flex items-center justify-center rounded hover:bg-gray-800 transition"
                                    >
                                        ✕
                                    </button>

                                    <button
                                        (click)="splitTerminal($event, tab, terminal)"
                                        class="w-5 h-5 flex items-center justify-center rounded hover:bg-gray-800 transition"
                                    >
                                        ⊕
                                    </button>
                                </div>
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
</aside>
