/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import 'xterm/css/xterm.css';

/* Courier Prime */
@font-face {
    font-family: 'Courier Prime';
    src: url('/fonts/CourierPrime-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Fira Code */
@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/FiraCode-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Inconsolata Condensed */
@font-face {
    font-family: 'Inconsolata Condensed';
    src: url('/fonts/Inconsolata_Condensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* JetBrains Mono */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Major Mono Display';
    src: url('/fonts/MajorMonoDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Source Code Pro */
@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/SourceCodePro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Ubuntu Mono */
@font-face {
    font-family: 'Ubuntu Mono';
    src: url('/fonts/UbuntuMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@layer components {
    .tree-item {
        --line-color: white;
        --line-size: 2px;

        position: relative;
        padding-left: 16px; /* khoảng cách cho line */
    }

    /* đường dọc */
    .tree-item::after {
        content: '';
        position: absolute;
        left: 5px;
        top: 0;
        bottom: 0;
        width: var(--line-size);
        background-color: var(--line-color);
    }

    /* đường ngang */
    .tree-item::before {
        content: '';
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
        width: 8px;
        height: var(--line-size);
        background-color: var(--line-color);
    }

    /* item đầu: chỉ vẽ từ giữa xuống */
    .tree-item:first-child::after {
        top: 50%;
    }

    /* item cuối: chỉ vẽ từ trên xuống giữa */
    .tree-item:last-child::after {
        bottom: 50%;
    }
}

/* scroll bar */
::-webkit-scrollbar {
    width: 5px; /* width of the entire scrollbar */
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #fff; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background: #111827; /* color of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #0f172a; /* color of the scroll thumb on hover */
}

/* animation */
@layer utilities {
    .animate-fade-in {
        animation: fade-in 0.1s ease-out forwards;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
